 .navbar {
    position:fixed;
    width:100%;
    background-color: #266493;
    padding:0%;
    z-index: 1;
  }
  .container {
    display:flex;
    color: #0c2c72;
    text-align: center;
  }
  .title {
    size-adjust:12px;
    text-decoration: underline;
  }
  .w{
    padding-left: 200px;
    padding-top: 5%;
  }
  
  .w h1{
    size-adjust:500px;
    text-decoration: underline;
    color: #0c2c72;
  }
  
  .services h2 {
    text-align: start;
    padding-left:70px ;
    padding-top: 20px;
    text-decoration: overline;
    text-decoration-color: aqua;
    color: rgb(0, 255, 255);
  }
  
  .service-box {
    display: inline-block;
    display:flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    padding:30px;
    border: 5px solid #ddd;
    border-radius: 50px;
    background-color: rgb(177, 200, 221);
}
.service-box img {
  width: 100%;
  border-radius: 8px;
}



body{
  background-image : url(02175_800x480.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}
.cta-button {
  padding: 15px 30px;
  background-color: #ffd600;
  color: #333;
  border:0ch;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}
.cta-button:hover {
  background-color: #ffca28;
  transform: scale(1.05);
}
.reser{
  position: absolute;
            top:40%;
            left: 45%; 

}
.of{
  position:absolute;
           top:60%;
           left:20%;
  width:70%;
}
.faq-section {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  color: #333;
}
.faq {
  margin-top: 20px;
}
.faq-item {
  margin-bottom: 10px;
}
.faq-item button {
  width: 100%;
  background-color: #f4f4f4;
  border: none;
  padding: 15px;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}
.faq-item button:hover {
  background-color: #e0e0e0;
}
.faq-item button:after {
  content: '\25BC'; /* Down arrow */
  float: right;
}
.faq-item button.active:after {
  content: '\25B2'; /* Up arrow */
}
.faq-item .content {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  border-left: 4px solid #007BFF;
}
footer {
  background-color:#cee1e75d;
  color: #4d3d6d;
  padding: 20px 0;
}


